<!DOCTYPE html>
<html lang="en">
<head>
<title>OneTech</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block cssblock %}
{% endblock %}
</head>

<body>
{% include 'homepage/navbar.html' %}

{% block content %}
{% endblock %}

{% include 'homepage/footer.html' %}

{% block jsblock %}
{% endblock %}
</body>
</html>